<div class="content_technique">
	<div class="one">
		<p>
		<span ng-bind="result.name"></span>
		<span ng-bind="result.salaryName"></span>
		</p>
		<p>
			<span ng-bind="result.cityName"></span>
			<span ng-bind="result.experience"></span>
			<span ng-bind="result.education"></span>
		</p>
		<p ng-bind="result.benefit"></p>
		<!-- <img src="../../images/star.png" alt="" ng-show="techShow" ng-click="techClick()"> -->
		<img ng-src="{{star1Img}}" alt="" ng-show="techShow" ng-click="techClick()">
		<!-- <img src="../../images/star-active.png" alt="" ng-show="techShow2" ng-click="techClick2()"> -->
		<img ng-src="{{star2Img}}" alt="" ng-show="techShow2" ng-click="techClick2()">
	</div>
	<!-- <div class="two">
		<img ng-src="{{result.imageUrl}}" alt="">
		<div>
			<p ng-bind="result.companyName"></p>
			<p>{{result.industryName}}/{{result.companyId}}/{{result.scaleName}}</p>
		</div>
	</div> -->
	<div company></div>
	<div class="three">
		<h3>职位描述</h3>
		<pre ng-bind="result.description"></pre>
	</div>
</div>


































































